/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.top-image {
  background-color: yellowgreen;
  height: 100px;
  text-align: center;
}

i.fas {
  color: white;
}

div a {
  text-decoration: none ;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3rem;
  color: whitesmoke;
}

div a:hover {
  color: white;
}

.searchBar {
  margin-top: 50px;
  text-align: center;
}

.nav {
  padding-top: 8px;
}

.nav a {
  padding-left: 10px;
}

.header {
  background-color: rgb(71, 71, 71);
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hamburgerMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.hamburgerMenu a:first-child {
  padding-top: 20px;
}

.hamburgerMenu a {
  text-align: left;
  padding-top: 10px;
  color: whitesmoke;
}

.hide {
  display: none;
}

div.hamburgerMenu {
  background-color: rgb(38, 38, 39);
  height: 100%;;
  width: 10%;
}

/* .input {
  margin-top: 25px;
} */

button {
  padding: 0 20px; 
}

